.tile-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

    .tile-content .desc-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
