@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Notes

<MudCard Elevation="2">
    <div class="tile-content p-2">
        <MudText Typo="Typo.h6" Color="Color.Primary">
            <b>@Note.Title</b>
        </MudText>
        <MudText Typo="Typo.body1">@Note.Creator</MudText>
        <MudSpacer />
        <div class="desc-row">
            <MudText Typo="Typo.body2">Last Update: @DateHelper.DateToString(Note.LastUpdate)</MudText>
            <MudTooltip Text="Open note in new tab">
                <MudIconButton Size="Size.Small" Icon="@Icons.Filled.OpenInBrowser" Color="Color.Primary" OnClick="Open" />
            </MudTooltip>
        </div>
    </div>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public NoteLightDTO Note { get; set; } = default!;

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;

    private async void Open()
    {
        await JSRuntime.InvokeAsync<object>("open", $"/notes/editor/{Note.Id}", "_blank");
    }
}
