@using Papyrus.Shared.DTOs.Notes
@using Papyrus.Client.Services.Interfaces
@inject ICommonService CommonService

<MudCard Class="w-100 p-2 d-flex flex-column align-items-center" Style="position: relative;" @onclick="ClickHandler">
    <div style="position: absolute; left: .4rem; top: .4rem;">
        <NotePublicStatusIcon Public="Note.Public" Size="Size.Small" />
    </div>
    <img src="assets/images/file.svg" height="120" />
    <MudText Color="Color.Primary" Class="mt-2">
        @Note.Title
    </MudText>
</MudCard>

@code
{
    [Parameter, EditorRequired]
    public NoteLightDTO Note { get; set; } = default!;

    [Parameter]
    public bool OpenDisabled { get; set; } = false;

    private async Task ClickHandler()
    {
        if (!OpenDisabled)
        {
            await CommonService.OpenNote(Note.Id);
        }
    }
}
