.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
    position: absolute;
    top: 0;
    right: 3rem;
    top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
