@inherits LayoutComponentBase

<MudThemeProvider Theme="@PapyrusTheme.GetTheme()" />
<MudSnackbarProvider />

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

}