.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.culture-selector {
    position: absolute;
    top: 0;
    right: 3rem;
    top: 2rem;
}
