@using Papyrus.Client.Services.Interfaces
@using Papyrus.Client.Services.Auth.Interfaces
@inject IAuthService authService

<div class="mt-3">
    <img src="assets/images/main.svg" width="240" alt="Page image" />
</div>
<MudDivider Class="my-2" />
<MudNavMenu Dense="true" Color="Color.Secondary" Margin="Margin.Dense" Rounded="true" Class="pa-2">
    <AuthorizeView>
        <Authorized>
            <TreeMenu Items="@PapyrusMenu.Items" />
            <MudDivider Class="my-2" />
            <MudNavLink Icon="@Icons.Filled.Logout" OnClick="ToLogout" IconColor="Color.Error">Log Out</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>

@code
{
    private void ToLogout()
    {
        authService.Logout();
    }
}
