@page "/users"
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Shared
@using Papyrus.Shared.DTOs
@using Microsoft.IdentityModel.Tokens
@using KarcagS.Shared.Helpers
@attribute [Authorize]
@inject IStringLocalizer<Users> L
@inject IUserTableService UserTableService

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <Table Service="UserTableService" Localizer="L" Style="Style" />
</div>


@code {
    private StyleConfiguration Style { get; set; } = StyleConfiguration.Build();

    protected override void OnInitialized()
    {
        Style.AddColorGetter(item =>
        {
            if (item.Tags.Contains(Tags.TrueValue))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.FalseValue))
            {
                return Color.Success;
            }
            else if (item.Tags.Contains(Tags.CurrentUserTag))
            {
                return Color.Secondary;
            }

            return Color.Default;
        });

        base.OnInitialized();
    }

}