@page "/users"
@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Shared.Table
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Client.Shared.Dialogs.Admin
@using Papyrus.Shared
@using Papyrus.Shared.DTOs
@using Microsoft.IdentityModel.Tokens
@using KarcagS.Shared.Helpers
@attribute [Authorize]
@inject IStringLocalizer<Users> L
@inject IUserTableService UserTableService
@inject IHelperService HelperService

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <Table @ref="Table" TKey="string" Service="UserTableService" Localizer="L" Style="Style" OnRowClick="RowClickHandler" />
</div>


@code {
    private Table<string>? Table { get; set; }
    private StyleConfiguration Style { get; set; } = StyleConfiguration.Build();

    protected override void OnInitialized()
    {
        Style.AddColorGetter(item =>
        {
            if (item.Tags.Contains(Tags.TrueValue))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.FalseValue))
            {
                return Color.Success;
            }
            else if (item.Tags.Contains(Tags.CurrentUserTag))
            {
                return Color.Secondary;
            }

            return Color.Default;
        });

        base.OnInitialized();
    }

    private async Task RowClickHandler(ResultRowItem<string> item)
    {
        var parameters = new DialogParameters { { "UserId", item.ItemKey } };

        await HelperService.OpenEditorDialog<UserSettingDialog>("User Settings", (res) => Table?.Refresh(), parameters);
    }

}