@page "/groups/{GroupId:int}/members"
@using KarcagS.Blazor.Common.Services.Interfaces
@using Papyrus.Client.Services.Groups.Interfaces
@attribute [Authorize]
@inject IStringLocalizer<GroupMembers> L
@inject IGroupService GroupService
@inject IGroupMemberService GroupMemberService
@inject IGroupMemberTableService GroupMemberTableService
@inject IDialogService DialogService
@inject IHelperService HelperService

<GroupPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    @if (PageEnabled)
    {
        @if (Rights.CanAdd)
        {
            <ActionBar>
                <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="@Add">@L["AddAction"]</MudButton>
            </ActionBar>
        }

        <Table @ref="Table" TKey="int" ReadOnly="!Rights.CanEdit" Service="GroupMemberTableService" InitialParams="TableParams" Style="Style" OnRowClick="RowClickHandler" Localizer="L" />
    }
</div>
