@page "/groups/{GroupId:int}/members"
@using KarcagS.Shared.Helpers
@attribute [Authorize]
@inject IStringLocalizer<GroupMembers> L

<GroupPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    @if (Rights.CanAdd)
    {
        <ActionBar>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="@Add">@L["AddAction"]</MudButton>
        </ActionBar>
    }

    <Table @ref="Table" TKey="int" ReadOnly="!Rights.CanEdit" Service="GroupMemberTableService" ExtraParams="ExtraParams" Style="Style" OnRowClick="RowClickHandler" Localizer="L" />
</div>