@page "/groups/{GroupId:int}/logs"
@using Papyrus.Shared.DTOs.Groups.ActionsLogs
@attribute [Authorize]

<GroupPageTitle PageName="Logs" />

<div class="page-div">
    <ListTable T="GroupActionLogDTO" TKey="long" DataSource="DataSource" Config="Config">

    </ListTable>
</div>