@page "/groups/{GroupId:int}/notes"
@using Papyrus.Client.Services.Groups.Interfaces
@using Papyrus.Client.Services.Notes.Interfaces
@attribute [Authorize]
@inject IStringLocalizer<GroupNotes> L
@inject IGroupService GroupService
@inject INoteService NoteService
@inject IJSRuntime JSRuntime

<GroupPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    @if (PageEnabled)
    {
        <NoteList GroupId="GroupId" NoteCreateEnabled="Rights.CanCreateNote" FolderCreateEnabled="Rights.CanCreateFolder" NoteOpenDisabled="!Rights.CanOpenNote" FolderManageEnabled="Rights.CanManageFolder" NoteEditEnabled="Rights.CanEditNote" NoteDeleteEnabled="Rights.CanDeleteNote" />
    }
</div>
