@page "/groups/{GroupId:int}/roles"
@using KarcagS.Shared.Helpers
@attribute [Authorize]

<GroupPageTitle PageName="Roles" />

<div class="page-div">
    @if (Rights.CanCreate)
    {
        <ActionBar>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">Create</MudButton>
        </ActionBar>
    }
    <Table @ref="Table" TKey="int" Service="GroupRoleTableService" ExtraParams="ExtraParams" Style="Style" OnRowClick="RowClickHandler" />
</div>