@page "/groups/{GroupId:int}/roles"
@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Groups
@attribute [Authorize]

<GroupPageTitle PageName="Roles" />

<div class="page-div">
    @if (Rights.CanCreate)
    {
        <ActionBar>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">Create</MudButton>
        </ActionBar>
    }
    @if (ObjectHelper.IsNotNull(DataSource) && ObjectHelper.IsNotNull(Config))
    {
        <ListTable @ref="ListTable" T="GroupRoleDTO" TKey="int" DataSource="DataSource" Config="Config" OnRowClick="RowClickHandler" />
    }
</div>