@page "/groups/{GroupId:int}/logs"
@using Papyrus.Client.Services.Groups.Interfaces
@attribute [Authorize]
@inject IStringLocalizer<GroupActionLogs> L
@inject IGroupService GroupService
@inject IGroupActionLogTableService GroupActionLogTableService

<GroupPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    @if (PageEnabled)
    {
        <Table TKey="long" Service="GroupActionLogTableService" InitialParams="TableParams" Localizer="L" />
    }
</div>
