@page "/groups/{GroupId:int}/notes/tags"
@attribute [Authorize]

<GroupPageTitle PageName="Note Tags" />

<div class="page-div">
    <ActionBar>
        <InfoButton Text="Tags are managed in tree hierarchy" />
        @if (Rights.CanCreate)
        {
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">Create</MudButton>
        }
    </ActionBar>
    <TagTree @ref="TagTree" Fetcher="Fetcher" GroupId="GroupId" CreateEnabled="Rights.CanCreate" EditEnabled="Rights.CanEdit" RemoveEnabled="Rights.CanRemove" />
</div>