@page "/groups/{GroupId:int}/logs"
@using KarcagS.Shared.Helpers
@attribute [Authorize]
@inject IStringLocalizer<GroupActionLogs> L

<GroupPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    <Table TKey="long" Service="GroupActionLogTableService" InitialParams="ExtraParams" Localizer="L" />
</div>