@page "/groups/{GroupId:int}/members"
@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Groups
@attribute [Authorize]

<GroupPageTitle PageName="Members" />

<div class="page-div">
    @if (Rights.CanAdd)
    {
        <ActionBar>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="@Add">Add</MudButton>
        </ActionBar>
    }

    @if (ObjectHelper.IsNotNull(DataSource) && ObjectHelper.IsNotNull(Config))
    {
        <ListTable @ref="ListTable" T="GroupMemberDTO" TKey="int" DataSource="DataSource" Config="Config" OnRowClick="RowClickHandler" />
    }
</div>