@page "/groups/{GroupId:int}/members"
@using KarcagS.Shared.Helpers
@attribute [Authorize]

<GroupPageTitle PageName="Members" />

<div class="page-div">
    @if (Rights.CanAdd)
    {
        <ActionBar>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="@Add">Add</MudButton>
        </ActionBar>
    }

    <Table @ref="Table" TKey="int" Service="GroupMemberTableService" ExtraParams="ExtraParams" Style="Style" OnRowClick="RowClickHandler" />
</div>