@page "/my-groups"
@attribute [Authorize]

<ApplicationPageTitle PageName="My Groups" />

<div class="page-div">
    <ActionBar>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled">Create</MudButton>
    </ActionBar>
</div>