@page "/my-groups"
@attribute [Authorize]

<ApplicationPageTitle PageName="My Groups" />

<div class="page-div">
    <ActionBar>
        <ChildContent>
            <InfoButton Text="All groups are available where you are involved or you are a member" />
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">Create</MudButton>
            <MudSpacer />
            <MudSwitch T="bool" Color="Color.Secondary" CheckedChanged="HideClosedChangeHandler" Checked="HideClosedChecked" Label="Hide Closed" />
        </ChildContent>
    </ActionBar>
    <div class="page-content">
        <div class="groups">
            @foreach (var group in Groups)
            {
                <GroupListTile Group="group"></GroupListTile>
            }
        </div>
    </div>
</div>