@page "/my-groups"
@attribute [Authorize]
@inject IStringLocalizer<MyGroups> L

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    <ActionBar>
        <ChildContent>
            <InfoButton Text="@L["PageInfo"]" />
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">@L["CreateAction"]</MudButton>
            <MudSpacer />
            <MudSwitch T="bool" Color="Color.Secondary" CheckedChanged="HideClosedChangeHandler" Checked="HideClosedChecked" Label="@L["ClosedFilter"]" />
        </ChildContent>
    </ActionBar>
    <div class="page-content">
        <div class="groups">
            @foreach (var group in Groups)
            {
                <GroupListTile Group="group"></GroupListTile>
            }
        </div>
    </div>
</div>