@page "/my-groups"
@attribute [Authorize]

<ApplicationPageTitle PageName="My Groups" />

<div class="page-div">
    <ActionBar>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">Create</MudButton>
    </ActionBar>
    <div class="page-content">
        <div class="groups">
            @foreach (var group in Groups)
            {
                <GroupListTile Group="group"></GroupListTile>
            }
        </div>
    </div>
</div>