@page "/notes"
@page "/notes/{folder}"
@attribute [Authorize]
@inject IStringLocalizer<Notes> L

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    <NoteList Folder="@Folder" NoteCreateEnabled FolderCreateEnabled NoteOpenDisabled="false" />
</div>
