@page "/notes/logs"
@attribute [Authorize]

<ApplicationPageTitle PageName="Note Logs"></ApplicationPageTitle>

<div class="page-div">
    <ActionBar>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled">Add</MudButton>
    </ActionBar>
</div>