@page "/notes/tags"
@attribute [Authorize]
@inject IStringLocalizer<NoteTags> L

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <ActionBar>
        <InfoButton Text="@L["PageInfo"]" />
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Create">@L["CreateAction"]</MudButton>
    </ActionBar>
    <TagTree @ref="TagTree" Fetcher="Fetcher" />
</div>