.page-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

    .page-content .notes {
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
    }


@media screen and (min-width: 480px) {
    .page-content .notes {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 720px) {
    .page-content .notes {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1080px) {
    .page-content .notes {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1420px) {
    .page-content .groups {
        grid-template-columns: auto auto auto auto auto;
    }
}
