@page "/notes"
@using Papyrus.Client.Services.Notes.Interfaces
@attribute [Authorize]
@inject IStringLocalizer<Notes> L
@inject INoteService NoteService

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    <NoteList Fetcher="Fetcher" Folder="@Folder" />
</div>
