@page "/notes"
@using Papyrus.Client.Services.Notes.Interfaces
@using Papyrus.Shared.Enums.Notes
@attribute [Authorize]
@inject IStringLocalizer<Notes> L
@inject INoteService NoteService

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <NoteList Fetcher="Fetcher" />
</div>
