@typeparam Model

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5" Color="Color.Primary">@TitleText</MudText>
    </TitleContent>
    <DialogContent>
        <div style="min-width: @(MinWidth)px;">
            <MudForm @ref="Form">
                @ChildContent
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        @if (Remove is not null && IsEdit)
        {
            <MudButton Color="Color.Error" OnClick="Delete">Remove</MudButton>
        }
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance Dialog { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter, EditorRequired]
    public Func<Task<bool>> Submit { get; set; } = default!;

    [Parameter]
    public Func<Task<bool>?>? Remove { get; set; } = default!;

    [Parameter]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public string EntityName { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool IsEdit { get; set; }

    [Parameter]
    public int MinWidth { get; set; } = 300;

    [Parameter]
    public Func<Model, ISnackbar, bool>? FormValidator { get; set; } = default!;

    [Parameter, EditorRequired]
    public Model ModelObj { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = null!;

    private MudForm? Form { get; set; } = null!;
    private string TitleText { get; set; } = "";

    protected override void OnInitialized()
    {
        if (Title is not null)
        {
            TitleText = Title;
        }
        else
        {
            TitleText = IsEdit ? $"Edit {EntityName}" : $"Create {EntityName}";
        }
        base.OnInitialized();
    }

    private async Task Save()
    {
        if (Form is null)
        {
            return;
        }

        await Form.Validate();
        if (!Form.IsValid) return;

        if (FormValidator is not null)
        {
            var result = FormValidator(ModelObj, Snackbar);

            if (!result)
            {
                return;
            }
        }

        if (await Submit())
        {
            Dialog.Close(DialogResult.Ok(true));
        }
    }

    private async Task Delete()
    {
        if (Remove is null || !IsEdit)
        {
            return;
        }

        var result = Remove();

        if (result is null)
        {
            return;
        }

        if (await result)
        {
            Dialog.Close(DialogResult.Ok(true));
        }
    }

    private void Cancel()
    {
        Dialog.Cancel();
    }

}