<div id="rt-editor-actions">
    <MudIconButton Icon="@Icons.Filled.FormatBold" OnClick="@(() => ExecuteAction(EditorAction.Bold))"></MudIconButton>
    <MudIconButton Icon="@Icons.Filled.FormatItalic"></MudIconButton>
    <MudIconButton Icon="@Icons.Filled.FormatColorText"></MudIconButton>
</div>
<div contenteditable="true" id="rt-editor">
    <b>ALMA</b>
</div>