#rt-editor-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 6px;
    overflow: hidden;
}

#rt-editor-actions {
    margin-bottom: 1rem;
}

#rt-editor {
    flex: 1;
    width: 100%;
    border-radius: 6px;
    padding: .4rem;
    margin-top: 1rem;
    background-color: rgb(116, 116, 116, 0.08);
    overflow: auto;
    outline: none;
}