<MudPaper Class="p-2 mb-3" Elevation="2">
    <div class="box">
        @ChildContent
    </div>
</MudPaper>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
