@using Papyrus.Shared.Models
@using Services.Interfaces

<MudDialog>
    <DialogContent>
        <div>
            <MudForm @ref="Form">
                <MudTextField T="string" Label="Old Password" Variant="Variant.Text" InputType="InputType.Password"
                              Required="true" For="@(() => Model.OldPassword)" @bind-Value="Model.OldPassword" FullWidth="true">
                </MudTextField>
                <MudTextField T="string" Label="New Password" Variant="Variant.Text" InputType="InputType.Password"
                              Required="true" For="@(() => Model.NewPassword)" @bind-Value="Model.NewPassword" FullWidth="true">
                </MudTextField>
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private MudDialogInstance Dialog { get; set; } = null!;

    [Inject] private IUserService UserService { get; set; } = null!;

    private UserPasswordModel Model { get; set; } = new();

    private MudForm Form { get; set; } = null!;

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        Model = new UserPasswordModel
            {
                NewPassword = "",
                OldPassword = ""
            };
    }

    private async void Save()
    {
        await Form.Validate();
        if (!Form.IsValid) return;

        if (await this.UserService.UpdatePassword(Model))
        {
            Dialog.Close(DialogResult.Ok(true));
        }
    }

    private void Cancel()
    {
        Dialog.Cancel();
    }
}