.page-body {
    display: flex;
    flex-direction: row;
}

    .page-body div {
        flex: 1;
    }

        .page-body div.profile-pic {
            border-width: 2px;
            border-style: solid;
            border-radius: 8px;
            height: 500px;
            max-width: 460px;
            min-width: 460px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .page-body div.profile-pic img {
                max-width: 460px;
                min-width: 460px;
            }
