@using KarcagS.Shared.Helpers
@using KarcagS.Shared.Table
@using Papyrus.Client.Services.Notes.Interfaces
@inject INoteActionLogTableService NoteActionLogTableService

<MudDialog ClassContent="d-flex flex-column flex-grow-1">
    <TitleContent><MudText Typo="Typo.h5" Color="Color.Primary">Action Logs</MudText></TitleContent>
    <DialogContent>
        <div class="d-flex" style="max-height: 84vh; overflow: hidden; padding: 1rem;">
            <Table TKey="long" Service="NoteActionLogTableService" ExtraParams="ExtraParams" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudSpacer />
        <MudButton Color="Color.Primary" OnClick="@(() => Dialog.Close())">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public string NoteId { get; set; } = default!;

    [CascadingParameter]
    private MudDialogInstance Dialog { get; set; } = null!;

    private Dictionary<string, object> ExtraParams { get; set; } = new();

    protected override void OnInitialized()
    {
        ExtraParams = new Dictionary<string, object>
        {
            { "noteId", NoteId }
        };
        base.OnInitialized();
    }
}
